body{
    background-image: url("Images/background12.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.image{
    height: 250px;
    width: 220px;
    position:absolute;
    top:40%;
    left:85%;
}