*{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-image: url("Images/background12.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.image{
    height: 250px;
    width: 220px;
    position:absolute;
    top:40%;
    left:85%;
}

.message{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.sugar{
    height: 60px;
    width: 60px;
    position:absolute;
    top:40%;
    left:85%;
}

.antmain{
    height: 150px;
    width: 180px;
    position:absolute;
    top:10%;
    left:100%;
}
