*{
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-image: url("Images/background12.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* styling of man */
.image{ 
    height: 250px;
    width: 220px;
    position:absolute;
    top:40%;
    left:85%;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    text-align: center;
    color:brown;
}

/* styling of ant */
.antmain{
    height: 150px;
    width: 180px;
    position:absolute;
    top:10%;
    left:100%;
}
